.profile {
  background-color: #fafafa;
  max-width: 410px;
  margin: 0 auto;
}

.profile__info {
  padding: 74px 0 220px;
}

.profile__header {
  margin: 0;
  padding-bottom: 123px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.profile__text {
  font-size: 11px;
  font-weight: 500;
}

.profile__name-container {
  display: flex;
  justify-content: space-between;
  height: min-content;
}

.profile__input {
  border: none;
  text-align: right;
  background-color: #fafafa;
}

.profile__dividing-line {
  background-color: #e8e8e8;
  margin: 17px 0;
}

.profile__email-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 220px;
}

.profile__error {
  color: #ff004c;
  text-align: center;
  font-size: 11px;
  max-width: 410px;
  margin-bottom: 20px;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
}

.profile__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__save-button {
  border-radius: 3px;
  background: #3456f3;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  height: 45px;
  width: 100%;
}

.profile__button {
  max-width: 410px;
  border: none;
  background-color: #fafafa;
  font-size: 13px;
}

.profile__signout-button {
  margin-top: 16px;
  margin-bottom: 70px;
  font-weight: 500;
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .profile__info {
    padding: 236px 0 210px;
  }

  .profile__header {
    padding-bottom: 96px;
  }

  .profile__email-container {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 450px) {
  .profile__info {
    padding: 72px 0 379px;
  }

  .profile__header {
    padding-bottom: 82px;
  }

  .profile__name-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .profile__dividing-line {
    margin: 17px 30px;
  }

  .profile__email-container {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 379px;
  }
}
