.about-project {
  padding: 110px 70px;
  background-color: #fafafa;
}

.about-project__header {
  margin: 0;
  padding: 0 0 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-project__description {
  display: flex;
}

.about-project__subheader {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__text {
  margin: 0;
  padding-bottom: 110px;
  font-size: 14px;
  line-height: 20px;
}

.about-project__stages {
  max-width: 550px;
}

.about-project__deadlines {
  padding-left: 40px;
  max-width: 550px;
}

.about-project__weeks {
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.about-project__backend {
  width: 20%;
}

.about-project__backend-week {
  margin: 0;
  background-color: #3456f3;
  color: #fff;
  padding: 9px 0;
}

.about-project__frontend {
  width: 80%;
}

.about-project__frontend-week {
  margin: 0;
  background-color: #f2f2f2;
  padding: 9px 14px;
}

.about-project__weeks-text {
  margin: 0;
  color: #a0a0a0;
  padding-top: 14px;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 93px;
  }

  .about-project__backend {
    width: 21%;
  }

  .about-project__frontend {
    width: 79%;
  }
}

@media screen and (max-width: 570px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__header {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .about-project__subheader {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__text {
    padding-top: 16px;
    padding-bottom: 56px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__description {
    flex-direction: column;
    padding-top: 60px;
  }

  .about-project__deadlines {
    padding: 0;
  }

  .about-project__weeks {
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__frontend {
    width: 65%;
  }

  .about-project__backend {
    width: 35%;
  }

  .about-project__backend-week {
    padding: 11px 0;
  }

  .about-project__frontend-week {
    padding: 11px 0;
  }
}