.page {
  min-width: 320px;
  background-color: #fafafa;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: black;
  max-width: 1280px;
  min-height: 100vh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: 38px;
  height: 38px;
}

.button {
  text-decoration: none;
  color: black;
  padding: 0;
  transition: opacity .3s ease-in-out;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
  border: none;
}