.page {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  text-decoration: none;
}