.page {
  margin: 0 auto;
  color: black;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

.button {
  text-decoration: none;
  color: black;
  padding: 0;
}

.button:hover {
  cursor: pointer;
}

.dividing-line {
  height: 1px;
  background: black;
  max-width: 1140px;
}

.vertical-divider {
  width: 1px;
  background: black;
  height: 40px;
  background: #CBCBCB;
  margin: 0 29px 0 19px;
}

@media screen and (max-width: 1000px) {
  .vertical-divider {
    margin-right: 19px;
  }
}

@media screen and (max-width: 720px) {
  .vertical-divider {
    display: none;
  }
}