.navigation__overlay {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation__overlay {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }

  .navigation__panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 160px;
    padding-bottom: 90px;
    background: #fafafa;
    width: 520px;
    height: calc(100vh - 250px);
  }

  .navigation__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 28px;
  }

  .navigation__link {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  .navigation__link_active {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-thickness: 2px;
  }

  .navigation__profile-button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 100px;
    height: 32px;
    border: 2px solid rgba(170, 170, 170, 0.2);
    border-radius: 50px;
    background: transparent;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
  }

  .navigation__profile-button:hover {
    cursor: pointer;
  }

  .navigation__profile-logo {
    width: 12px;
    height: 14px;
  }
}

@media screen and (max-width: 520px) {
  .navigation__panel {
    padding-top: 144px;
    padding-bottom: 46px;
    width: 100%;
    height: calc(100vh - 190px);
  }

  .navigation__link {
    padding-bottom: 35px;
  }
}