.movies-card-list {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 364px 364px 364px;
  row-gap: 37px;
  column-gap: 24px;
  max-width: 1140px;
  padding: 70px 70px 10px;
  background-color: #fafafa;
}

@media screen and (max-width: 1220px) {
  .movies-card-list {
    grid-template-columns: 339px 339px;
    padding: 70px 30px 30px;
    gap: 30px;
  }
}