.portfolio {
  padding: 100px 70px 125px;
  background-color: #fafafa;
}

.portfolio__header {
  margin: 0;
  padding-bottom: 50px;
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__site {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__dividing-line {
  background: #e8e8e8;
  margin: 20px 0;
}

.portfolio__link {
  width: 30px;
  height: 30px;
  background: no-repeat center url(../../../images/up-arrow.svg);
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 90px 50px 90px;
  }

  .portfolio__site {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (max-width: 570px) {
  .portfolio {
    padding: 70px 14px;
  }

  .portfolio__header {
    font-size: 14px;
    padding-bottom: 40px;
  }

  .portfolio__site {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__dividing-line {
    margin: 19px 0;
  }

  .portfolio__link {
    width: 10px;
    height: 10px;
    background-size: cover;
  }

}