.techs {
  margin: 0 auto;
  max-width: 1140px;
  padding: 100px 70px;
  background-color: #f5f5f5;
}

.techs__header {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.techs__description {
  padding-top: 90px;
  text-align: center;
}

.techs__subheader {
  margin: 0;
  padding-bottom: 26px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.techs__text {
  margin: 0 auto;
  max-width: 460px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  padding-bottom: 100px;
}

.techs__stack {
  display: flex;
  justify-content: center;
}

.techs__stack-element {
  min-width: 90px;
  border-radius: 10px;
  text-align: center;
  padding: 21px 0 22px;
  margin-right: 10px;
  background-color: #e8e8e8;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}

.techs__stack-element:last-child {
  margin-right: 0;
}


@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__description {
    padding-top: 80px;
  }

  .techs__subheader {
    padding-bottom: 22px;
  }

  .techs__text {
    font-family: Inter;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 83px;
  }

  .techs__stack-element{
    min-width: 84px;
  }
}