.techs {
  padding: 100px 70px;
  background-color: #f5f5f5;
}

.techs__header {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.techs__description {
  padding-top: 90px;
  text-align: center;
}

.techs__subheader {
  margin: 0;
  padding-bottom: 26px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.techs__text {
  margin: 0 auto;
  max-width: 460px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  padding-bottom: 100px;
}

.techs__stack {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
  margin: 0;
  padding: 0;
}

.techs__stack-element {
  list-style: none;
  border-radius: 10px;
  text-align: center;
  padding: 21px 0 22px;
  background-color: #e8e8e8;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 830px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__description {
    padding-top: 80px;
  }

  .techs__subheader {
    padding-bottom: 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 83px;
  }

  .techs__stack {
    grid-template-columns: repeat(7, 84px);
  }
}

@media screen and (max-width: 750px) {
  .techs {
    margin: 0 auto;
    max-width: 1140px;
    padding: 70px 18px;
    background-color: #f5f5f5;
  }

  .techs__header {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .techs__subheader {
    font-size: 30px;
    line-height: 36px;
  }

  .techs__description {
    padding-top: 60px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 50px;
  }

  .techs__stack {
    grid-template-columns: 84px 84px;
    grid-template-rows: auto;
    gap: 10px;
  }

  .techs__stack-element {
    font-size: 12px;
    line-height: 15px;
  }
}
