.filter-checkbox {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  gap: 14px;
}

.filter-checkbox__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.filter-checkbox__switch .filter-checkbox__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter-checkbox__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  transition: .4s;
  border-radius: 10px;
}

.filter-checkbox__slider:before {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #f5f5f5;
  transition: .4s;
}

.filter-checkbox__input:checked + .filter-checkbox__slider {
  background-color: #2BE080;
}

.filter-checkbox__input:checked + .filter-checkbox__slider:before {
  transform: translateX(16px);
  background-color: #fff;
}

.filter-checkbox__text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}

.filter-checkbox_browser {
  display: flex;
}

.filter-checkbox_mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .filter-checkbox {
    margin-left: 40px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 740px) {
  .filter-checkbox {
    margin: 0;
  }

  .filter-checkbox_browser {
    display: none;
  }

  .filter-checkbox_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-checkbox__text {
    font-size: 11px;
  }
}
