.navtab {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
}

.navtab__link {
  padding: 24px 20px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}