.navtab {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.navtab__link {
  padding: 24px 20px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

@media screen and (max-width: 320px) {
  .navtab__link {
    padding: 25px 12px;
    font-size: 11px;
    line-height: 16px;
  }
}
