/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  padding: 18px 70px;
  font-size: 12px;
  line-height: 16px;
  background-color: #fafafa;
}

.header_landing {
  background-color: #dddee3;
}

.header_profile {
  background-color: #fff;
}

/* logo */
.header__logo {
  width: 38px;
  height: 38px;
}

/* signup and signin buttons */
.header__signup {
  margin-right: 30px;
}

.header__signin {
  color: white;
  padding: 8px 20px;
  background-color: #3456f3;
  border-radius: 3px;
}

/* header movie buttons*/
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91%;
  max-width: 1100px;
}

/* movies button */
.header__movies {
  font-size: 13px;
  line-height: 18px;
}

.header__selected {
  font-weight: 500;
}

/* saved movies button */
.header__saved-movies {
  padding-left: 16px;
  font-size: 13px;
  line-height: 18px;
}

/* profile button */
.header__profile-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 6px 10px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  background: transparent;
}

.header__profile-button:hover {
  border: 2px solid rgba(170, 170, 170, 0.2);
}

.header__profile-logo {
  width: 12px;
  height: 12px;
}

.header__profile-text {
  padding-left: 7px;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.header__burgermenu-button {
  display: none;
}

.header__close-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    padding: 15px 25px;
  }

  .header__selected {
    font-weight: 400;
  }

  .header__links {
    width: 40px;
  }

  .header__movies {
    display: none;
  }

  .header__saved-movies {
    display: none;
  }

  .header__profile-button {
    display: none;
  }

  .header__burgermenu-button {
    display: block;
    background: no-repeat center url(../../images/burger-button.svg);
    width: 40px;
    height: 44px;
    border: none;
  }

  .header__close-button {
    display: flex;
    background: no-repeat center url(../../images/close-burger-button.svg);
    width: 44px;
    height: 44px;
    border: none;
    z-index: 10;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    padding: 15px 10px;
    font-size: 10px;
    line-height: 16px;
  }

  .header__signin {
    padding: 5px 12px;
  }

  .header__signup {
    margin-right: 14px;
  }

  .header__links {
    min-width: 23px;
    justify-content:center;
  }

  .header__burgermenu-button {
    width: 35px;
    height: 40px;
    background-size: contain;
  }

  .header__close-button {
    width: 22px;
    height: 22px;
  }
}
