/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 18px 70px;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 930px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 630px) {
  .header {
    padding: 0;
    padding-bottom: 31px;
  }
}

.header__landing {
  background-color: #dddee3;
  justify-content: space-between;
}

/* logo */
.header__logo {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 630px) {
  .header__logo {
    padding-left: 28px;
  }
}

/* signup and signin buttons */
.header__signup {
  margin-right: 30px;
}

.header__signin {
  color: white;
  padding: 8px 20px;
  background-color: #3456F3;
  border-radius: 3px;
}

/* header movie buttons*/
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 548px;
}

/* movies button */
.header__movies {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

/* saved movies button */
.header__saved-movies {
  padding-left: 16px;
  font-size: 13px;
  line-height: 18px;
}

/* profile button */
.header__profile-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 76px;
  padding: 6px 10px;
  border: 2px solid rgba(170, 170, 170, .2);
  border-radius: 50px;
}

.header__profile-logo {
  width: 12px;
  height: 12px;
}

.header__profile-text {
  padding-left: 7px;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}