.movies-card {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  width: 364px;
}

.movies-card__image {
  width: 364px;
  height: 203px;
  display: block;
}

.movies-card__description {
  padding: 10px 16px 14px;
}

.movies-card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__name {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.movies-card__save-button {
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.movies-card__remove-button {
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.movies-card__description:hover .movies-card__remove-button {
  background: no-repeat center url(../../../images/remove.svg);
}

.movies-card__save-button_saved {
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.movies-card__duration {
  padding-top: 10px;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}

@media screen and (max-width: 1220px) {
  .movies-card {
    width: 339px;
  }

  .movies-card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 768px) {
  .movies-card {
    width: 339px;
  }

  .movies-card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 750px) {
  .movies-card {
    width: 300px;
  }

  .movies-card__image {
    width: 300px;
    height: 168px;
  }

  .movies-card__description {
    padding: 5px 10px 0 15px;
  }

  .movies-card__name {
    font-size: 12px;
  }

  .movies-card__duration {
    padding-top: 5px;
    font-size: 10px;
  }
}