.register {
  margin: 0 auto;
  max-width: 396px;
}

.register__header {
  margin: 0;
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 500;
}

.register__submit-button {
  margin-top: 69px;
  border-radius: 3px;
  background: #3456f3;
  border: none;
  color: #fff;
  height: 45px;
}

@media screen and (max-width: 768px) {
  .register__header {
    padding-top: 25px;
  }
}

@media screen and (max-width: 420px) {
  .register {
    margin-left: 30px;
    margin-right: 30px;
  }

  .register__header {
    padding: 35px 0 60px;
    text-align: center;
  }

  .register__submit-button {
    margin-top: 150px;
    font-size: 12px;
    font-weight: 500;
  }
}