.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 79px 70px 20px;
  background-color: #f8f8f8;
}

.footer__dividing-line {
  background: #e8e8e8;
  margin: 20px 0;
}

.footer__text {
  margin: 0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #a0a0a0;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
}

.footer__praktikum-link {
  padding-right: 20px;
}
