.footer {
  display: none;
  max-width: 1140px;
  padding: 79px 70px 20px;
  background-color: #f8f8f8;
}

.footer_show {
  display: block;
}

.footer__dividing-line {
  background: #e8e8e8;
  margin: 20px 0;
}

.footer__text {
  margin: 0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #a0a0a0;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
}

.footer__copyright {
  font-size: 13px;
  line-height: 16px;
}

.footer__praktikum-link {
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 79px 10px 21px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__info {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 12px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .footer__praktikum-link {
    padding-right: 0;
    padding-bottom: 12px;
  }

  .footer__copyright {
    padding-top: 30px;
    font-size: 12px;
    line-height: 15px;
  }
}
