.promo {
  max-width: 1280px;
  margin: 0 auto;
}

.promo__title {
  margin: 0 auto;
  max-width: 730px;
  padding-top: 184px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.promo__overlay {
  position: relative;
  min-height: 524px;
  background: no-repeat url(../../../images/landing-logo.svg);
  background-position: center;
  background-color: #dddee3;
}

@media screen and (max-width: 768px) {
  .promo__title {
    padding-top: 326px;
  }

  .promo__overlay {
    min-height: 784px;
  }
}

@media screen and (max-width: 425px) {
  .promo__title {
    padding-top: 207px;
    font-size: 31px;
    line-height: 39px;
  }

  .promo__overlay {
    min-height: 570px;
    background-size: 248px 248px;
  }
}
