.promo {
  max-width: 1280px;
  margin: 0 auto;
}

.promo__title {
  margin: 0 auto;
  max-width: 730px;
  padding-top: 184px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.promo__overlay {
  position: relative;
  min-height: 524px;
  background: no-repeat center url(../../../images/landing-logo.svg);
}

.promo__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dddee3;
  z-index: -1;
}