.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 67px 70px;
}

.search-form__box {
  max-width: 1100px;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.search-form__icon {
  background: no-repeat center url(../../../images/search-icon.svg);
  width: 34px;
  height: 34px;
}

.search-form__input {
  padding-left: 7px;
  max-width: 750px;
  width: 100%;
  border: #fff;
  font-size: 18px;
  line-height: 20px;
}

.search-form__input:focus {
  border: 1px solid #3456F3;
}

.search-form__button {
  border: none;
  background: no-repeat center url(../../../images/find.svg);
  width: 80px;
  height: 34px;
}

@media screen and (max-width: 1230px) {
  .search-form__box {
    max-width: 900px;
  }
  .search-form__input {
    max-width: 550px;
  }
}

@media screen and (max-width: 1030px) {
  .search-form {
    margin: 80px 30px 10px;
  }

  .search-form__box {
    max-width: 680px;
  }

  .search-form__input {
    max-width: 340px;
  }

  .search-form__button {
    margin: 0;
  }

  .search-form__dividing-line {
    margin-top: 109px;
  }
}

@media screen and (max-width: 750px) {
  .search-form {
    margin: 80px 10px 55px;
  }

  .search-form__box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 260px;
    padding: 19px;
    margin-bottom: 45px;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    max-width: 100px;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }

  .search-form__button {
    width: 80px;
  }

  .search-form__dividing-line {
    margin-top: 44px;
  }
}
