.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 67px 70px 0;
  padding-bottom: 70px;
  border-bottom: 1px solid #e8e8e8;
}

.search-form__box {
  max-width: 1140px;
  width: 100%;
  padding: 18px 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.search-form__icon {
  background: no-repeat center url(../../../images/search-icon.svg);
  width: 34px;
  height: 34px;
  margin-left: 30px;
}

.search-form__input {
  padding-left: 7px;
  max-width: 750px;
  width: 100%;
  border: #fff;
  font-size: 18px;
  line-height: 20px;
}

.search-form__input:focus {
  border: 1px solid #3456f3;
}

.search-form__button {
  position: relative;
  border: none;
  background: no-repeat center url(../../../images/find.svg);
  min-width: 80px;
  min-height: 34px;
  margin-right: 19px;
}

.search-form__button::after {
  content: "";
  position: absolute;
  border-left: 1px solid #cbcbcb;
  right: -20px;
  top: 0;
  height: 40px;
}

.search-form__button:disabled {
  background: no-repeat center url(../../../images/find-disabled.svg);
}

.search-form__error {
  align-self: flex-start;
  padding-top: 10px;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .search-form {
    margin: 82px 30px 0;
    padding: 0;
    padding-bottom: 110px;
  }

  .search-form__box {
    max-width: 708px;
    justify-content: space-between;
  }

  .search-form__input {
    max-width: 340px;
    padding-left: 15px;
  }

  .search-form__button {
    margin-right: 0;
  }
}

@media screen and (max-width: 740px) {
  .search-form {
    margin: 80px 10px 50px;
    padding: 0;
    padding-bottom: 45px;
  }

  .search-form__box {
    display: flex;
    gap: 10px;
    max-width: 300px;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    max-width: 100px;
    font-size: 14px;
    line-height: 20px;
  }

  .search-form__button {
    margin-right: 19px;
  }

  .search-form__button::after {
    display: none;
  }

  .search-form__error {
    align-self: center;
  }
}
