.search-form {
  margin: 0 auto;
  max-width: 1140px;
  padding: 70px 70px 10px;
  background-color: #fafafa;
}

.search-form__box {
  width: 1140px;
  height: 72px;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.search-form__icon {
  background: no-repeat center url(../../../images/search-icon.svg);
  width: 34px;
  height: 34px;
  margin-left: 19px;
}

.search-form__input {
  padding-left: 10px;
  padding-right: 10px;
  width: 65%;
  border-radius: 9px;
  border: #fff;
  font-size: 18px;
  line-height: 20px;
}

.search-form__input:focus {
  outline: #fff;
}


.search-form__button {
  border: none;
  z-index: 10;
  background: no-repeat center url(../../../images/find.svg);
  width: 84px;
  height: 34px;
}

.search-form__dividing-line {
  margin-top: 69px;
  background: #e8e8e8;
}