.about-me {
  padding: 110px 70px 0;
  background-color: #fafafa;
}

.about-me__header {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 66px;
}

.about-me__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__subheader {
  margin: 0;
  padding-bottom: 18px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 26px;
}

.about-me__text {
  margin: 0;
  max-width: 600px;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 100px;
}

.about-me__github {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.about-me__photo {
  object-fit: cover;
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 1020px){
  .about-me__text {
    max-width: 364px;
    padding-bottom: 80px;
  }
}


@media screen and (max-width: 790px) {
  .about-me {
    padding: 90px 50px 0;
  }

  .about-me__header {
    line-height: 24px;
  }

  .about-me__subheader {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 87px;
  }

  .about-me__title {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px){
  .about-me__text {
    max-width: 200px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 570px) {
  .about-me {
    padding: 70px 14px 0;
  }

  .about-me__header {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .about-me__container {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;
  }

  .about-me__description {
    margin-top: 40px;
  }

  .about-me__subheader {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 40px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }
}
