.about-me {
  margin: 0 auto;
  max-width: 1140px;
  padding: 100px 70px;
  background-color: #fafafa;
}

.about-me__header {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
  align-items: stretch;
}

.about-me__subheader {
  margin: 0;
  padding-bottom: 18px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}

.about-me__title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 26px;
}

.about-me__text {
  margin: 0;
  max-width: 600px;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 100px;
}

.about-me__github {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: end;
}

.about-me__photo {
  object-fit: cover;
  width: 270px;
  height: 327px;
  border-radius: 10px;
}
