.auth {
  margin: 0 auto;
  max-width: 396px;
}

.auth__header {
  padding-top: 70px;
}

.auth__title {
  margin: 0;
  padding: 40px 0 20px;
  font-size: 24px;
  font-weight: 500;
}

.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__label {
  margin: 0;
  color: #a0a0a0;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.auth__input {
  border: none;
  border-radius: 8px;
  background: #f4f4f4;
  padding: 15px;
  font-size: 13px;
  font-weight: 500;
}

.auth__error {
  padding-top: 10px;
  color: #ee3465;
  font-size: 10px;
}

.auth__save-button {
  margin-top: 135px;
  border-radius: 3px;
  background: #3456f3;
  border: none;
  color: #fff;
  height: 45px;
}

.auth__switch-label {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  padding-top: 16px;
}

.auth__switch-button {
  color: #3456f3;
  padding-left: 6px;
}

@media screen and (max-width: 768px) {
  .auth__save-button {
    margin-top: 150px;
  }

  .auth__header {
    padding-top: 232px;
  }
}

@media screen and (max-width: 420px) {
  .auth {
    margin-left: 30px;
    margin-right: 30px;
  }

  .auth__header {
    padding-top: 56px;
    padding-left: 111px;
  }

  .auth__title {
    padding: 35px 0 80px;
    text-align: center;
  }

  .auth__save-button {
    margin-top: 230px;
    font-size: 10px;
    font-weight: 500;
  }

  .auth__register-label {
    font-size: 12px;
  }

  .auth__error {
    padding-top: 10px;
    color: #ee3465;
    font-size: 10px;
  }

  .auth__switch-label {
    font-size: 12px;
  }
}