@import url(./vendor/normalize.css);
@import url(../src/vendor/fonts/Inter-web/inter.css);
@import url(../src/components/App/App.css);
@import url(../src/components/Header/Header.css);
@import url(../src/components/Main/Promo/Promo.css);
@import url(../src/components/Main/NavTab/NavTab.css);
@import url(../src/components/Main/AboutProject/AboutProject.css);
@import url(../src/components/Main/Techs/Techs.css);
@import url(../src/components/Main/AboutMe/AboutMe.css);